name: Stage CI Pipeline

on:
  push:
    branches: [main]
      paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'images/**'
      - '*.txt'
  workflow_dispatch:

jobs:
  Lint:
    uses: ./.github/workflows/lint.yaml

  Test:
    uses: ./.github/workflows/test.yaml


