name: Test

on: [workflow_call]

jobs:
  test:
    runs-on: ubuntu-latest
    environment: CallCenter-AI 

    env:
      DATABRICKS_HOST: ${{ vars.DATABRICKS_HOST }}
      DATABRICKS_TOKEN: ${{ vars.DATABRICKS_TOKEN }}
      MODEL_URI: ${{ vars.MODEL_URI }}
      EXPERIMENT_NAME: ${{ vars.EXPERIMENT_NAME }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run unit tests
        run: |
          PYTHONPATH=. pytest tests/unit/ -v --disable-warnings
